
body {
    font-family: 'Arial', sans-serif;
    background-color: #338ce5;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 500px;
    margin: auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1 {
    text-align: center;
    color: #343a40;
}
.product-image {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    height: 300px;
}
img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
label {
    margin: 10px 0 5px;
    color: #495057;
}
input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 10px 0;
}
button {
    padding: 10px;
    background-color: #342fc8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #1b1963;
}
.factura {
    margin-top: 20px;
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 4px;
    background: #f1f3f5;
}
.factura h3 {
    margin: 0;
    color: #343a40;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 5px 0;
    border-bottom: 1px solid #dee2e6;
}
li:last-child {
    border-bottom: none;
}
strong {
    display: block;
    margin-top: 10px;
    color: #343a40;
}